.list {
  text-align: left;
  max-width: 2750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.list1 {
  text-align: left;
  max-width: 3000px;
  margin: left;
}